<h1>Sign up</h1>

<% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
<% end -%>

<%= form_with model: @user do |form| %>
    <%=form.label :username, "Insert a Username"%>
    <%=form.text_field :username%>
    <br/><br/>
    <%=form.label :email, "Insert the Email"%>
    <%=form.email_field :email, placeholder: "email@example.com"%>
    <br/><br/>
    <%=form.label :password, "Insert your Password"%>
    <%=form.password_field :password%>
    <br/><br/>
    <%= form.submit %>
<% end %>